<footer class="footerPrincipal">

    <form action="/newsletter" method="POST" class="formNewsletter">
        <label for="emailNews">Assine nossa newsletter!</label><br>
        <p>Receba recomendações de histórias em destaque</p>
        <input type="email" id="emailNews" name="email" placeholder="Insira seu e-mail"><br>
        <input type="text" id="nomeNews" name="nome" placeholder="Insira seu nome (opcional)"><br>
        <button type="submit" class="btnAssinar">Assinar</button>
    </form>
        <div class="listaAlertaNews"></div>

    <center>
        <p>Todos os direitos reservados<br>Copyright - 2020</p>
    </center>

    <% if (typeof authUsuario === "undefined" && typeof authAdmin === "undefined") { %>

        <a href="/admin">Admin</a>

    <% } %>

</footer>
