<footer class="footerPrincipal">

    <% if (typeof authUsuario === "undefined" && typeof authAdmin === "undefined") { %>

        <p>2020 - Copyright - Todos os direitos reservados</p>
        <a href="/admin">Admin</a>

    <% } else if (typeof authUsuario === "undefined") { %>

        <p>2020 - Copyright - Todos os direitos reservados</p>

    <% } %>

</footer>
