<footer class="bg-light p-4 justify-content-center d-flex fixed-bottom">

    <% if (typeof authUsuario === "undefined" && typeof authAdmin === "undefined") { %>
        <a class="nav-link" href="/admin">Admin</a>
    <% } else if (typeof authUsuario === "undefined") { %>
        
    <% } %>

</footer>
