<footer class="rodapePrincipal">

    <% if (typeof authUsuario === "undefined" && typeof authAdmin === "undefined") { %>

        <a href="/admin">Admin</a>

    <% } else if (typeof authUsuario === "undefined") { %>

        
        
    <% } %>

</footer>
