<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("includes/header") %>
    <main class="mainPrincipal mainIndex">

    <h1>Cadastre-se</h1>

      <h2>Publique e divulgue suas histórias</h2>
      <h2>Leia histórias publicadas por outros autores</h2>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
