/* @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap"); /* Tinos */
/* @import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap"); /* Neuton */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap"); /* Source Serif Pro */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap"); /* Noto Sans SC */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); /* Lato */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"); /* Noto Sans JP */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /* Open Sans */

body {
    background: #eeeeee;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    margin: 0;
}

label,
input,
button, 
textarea,
select,
optgroup {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

/*
h1 {
    margin: 20px;
}

label {
    line-height: 2;
}

input {
    line-height: 1.5;
}
*/

button {
    margin: 10px 0px 0px 0px;
}

/*
.divPrincipal {
}
*/

.mainPrincipal { 
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.mainPrincipal h1 {
    text-align: center;
    font-size: 2rem;
    color: #473ED6;
}

/* HEADER DA PÁGINA (TOPO) */

.headerPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 60px;
    background: #405DED;
    position: sticky;
    top: 0;
    /*position: fixed;
    top: 0;
    right: 0;
    left: 0;*/
    /*z-index: 1030;*/
}

.headerPrincipal a {
    color: #ffffff;
    text-decoration: none;
}

.conteudoTopo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1140px;
}

.conteudoTopo ul {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.conteudoTopo ul li {
    display: block;
    align-self: center;
    padding-right: 20px;
}

/* ITENS DO TOPO */

.logoTopo {
    align-self: center;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 20px;
}

/*
#btnMenuTopo {
    display: none;
}

label[for="btnMenuTopo"] {
    visibility: hidden;
    align-self: center;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}
*/

/* FOOTER DA PÁGINA (RODAPÉ) */

.footerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #379AE6;
    /*position: fixed;
    right: 0;
    bottom: 0;
    left: 0;*/
    /*z-index: 1030;*/
}

.footerPrincipal a {
    color: #ffffff;
    font-size: 0.75rem;
    text-decoration: none;
}

.footerPrincipal form {
    text-align: center;
    padding: 10px;
    /*background: #ffffff;
    width: 40%;
    min-width: 250px;*/
}

.footerPrincipal label {
    font-size: 1.15rem;
}

.footerPrincipal input {
    text-align: center;
    margin-bottom: 10px;
    width: 240px;
}

/* ITENS DO RODAPÉ */

/* TABELAS DOS DADOS */

table {
    border-collapse: collapse;
    border-spacing: 2px;
}

.tabelaDados {
    width: 100%;
    margin-bottom: 1rem;
}

.tabelaDados td,
.tabelaDados th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    display: table-cell;
    font-weight: bold;
}

/* PÁGINA INDEX */

.msgInicio {
    color: #379AE6;
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 2px #000000;
}

.imgInicio {
    max-width: 100%;
}

/* PÁGINA DE LOGIN */

.mainLogin,
.mainLoginAdmin {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.mainLogin form,
.mainLoginAdmin form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #ffffff;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px #eeeeee
}

/*
.mainLogin label,
.mainLoginAdmin label {
}
*/

.mainLogin input,
.mainLoginAdmin input {
    width: 200px;
    margin-bottom: 10px;
}

.mainLogin button,
.mainLoginAdmin button,
.mainLogin a,
.mainLoginAdmin a {
    width: 100px;
    align-self: center;
}

/* PÁGINA DE CADASTRO */



/* USUÁRIO */



/* HISTÓRIA */



/* CAPÍTULO */



/* BOTÕES */

.btnVisualizar,
.btnLer,
.btnEditar,
.btnCapitulos,
.btnCancelar,
.btnEnviar,
.btnAdicionar, 
.btnUsuario,
.btnAdmin,
.btnCadastrar,
.btnSalvar,
.btnExcluir,
.btnEntrar {
    background: white;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {

    .mainPrincipal {
        max-width: 1140px;
    }

    .conteudoTopo {
        max-width: 1140px;
    }

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
 
}

@media (min-width: 1200px) {

}

/********************/

/*
.mainInicio,
.mainErro404,
.mainPainelAdmin,
.mainConfiguracoes,
.mainNovaCategoria,
.mainEditarCategoria,
.mainListarCategorias,
.mainCadastrarClassificacao,
.mainEditarClassificacao,
.mainListarClassificacoes,
.mainCadastrarGenero,
.mainEditarGenero,
.mainListarGeneros,
.mainLoginAdmin,
.mainLogin,
.mainEditarCapitulo,
.mainPublicarCapitulo,
.mainListarCapitulos,
.mainCapitulo,
.mainEditarHistoria,
.mainPublicarHistoria,
.mainListarHistorias,
.mainHistoria,
.mainCadastrarUsuario,
.mainEditarUsuario,
.mainListarUsuarios,
.mainUsuario {  
}
*/

/*
.tituloInicio,
.tituloErro404,
.tituloPainelAdmin,
.tituloConfiguracoes,
.tituloNovaCategoria,
.tituloEditarCategoria,
.tituloListarCategorias,
.tituloCadastrarClassificacao,
.tituloEditarClassificacao,
.tituloListarClassificacoes,
.tituloCadastrarGenero,
.tituloEditarGenero,
.tituloListarGeneros,
.tituloLoginAdmin,
.tituloLogin,
.tituloEditarCapitulo,
.tituloPublicarCapitulo,
.tituloListarCapitulos,
.tituloCapitulo,
.tituloEditarHistoria,
.tituloPublicarHistoria,
.tituloListarHistorias,
.tituloHistoria,
.tituloCadastrarUsuario,
.tituloEditarUsuario,
.tituloListarUsuarios,
.tituloUsuario {  
}
*/