body {
    background: #eeeeee;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    margin: 0;
}

label,
input,
button, 
textarea,
select,
optgroup {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

button {
    margin: 10px 0px 0px 0px;
}

.mainPrincipal { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.mainPrincipal h1 {
    text-align: center;
    font-size: 2rem;
    color: #555555;
}

.mainPrincipal h2 {
    color: #777777;
}

/* HEADER DA PÁGINA (TOPO) E ITENS DO TOPO */

.headerPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #555555;
    position: sticky;
    top: 0;
}

.headerPrincipal a {
    color: #ffffff;
    text-decoration: none;
}

.conteudoTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1140px;
}

.conteudoTopo ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.conteudoTopo ul li {
    display: block;
    padding-right: 20px;
}

.logoTopo {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 20px;
}

/*
#btnMenuTopo {
    display: none;
}

label[for="btnMenuTopo"] {
    visibility: hidden;
    align-self: center;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}
*/

/* FOOTER DA PÁGINA (RODAPÉ) E ITENS DO RODAPÉ */

.footerPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 360px;
    background: #999999;
}

.footerPrincipal p {
    margin: 10px;
}

.footerPrincipal a {
    color: #ffffff;
    font-size: 0.75rem;
    text-decoration: none;
}

.footerPrincipal label {
    font-size: 1.15rem;
}

.footerPrincipal input {
    text-align: center;
    margin-bottom: 10px;
    width: 240px;
}

.listaAlertaNews {
    margin: 0px;
}

/* TABELAS DOS DADOS */

.tabelaDados {
    width: 100%;
    border-collapse: collapse;
}

.tabelaDados td,
.tabelaDados th {
    padding: .75rem;
    border-top: 1px solid #eeeeee;
}

/* PÁGINA INDEX */

.mainIndex {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/photo-1501504905252-473c47e087f8.jpg");
    padding: 0px;
}

.mainIndex h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: normal;
    text-shadow: 2px 2px 2px #555555;
}

.mainIndex h2 {
    color: #ffffff;
    text-shadow: 2px 2px 2px #555555;
}

.imgInicio {
    max-width: 100%;
}

/* PÁGINAS DE LOGIN, LOGIN ADMIN E CADASTRO */

.mainLogin form,
.mainLoginAdmin form,
.mainCadastrarUsuario form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #ffffff;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px #eeeeee;
}

.mainLogin label,
.mainLoginAdmin label,
.mainCadastrarUsuario label {
    line-height: 2rem;
}

.mainLogin input,
.mainLoginAdmin input,
.mainCadastrarUsuario input {
    width: 200px;
    margin-bottom: 10px;
}

.mainLogin button,
.mainLoginAdmin button,
.mainCadastrarUsuario button,
.mainLogin a,
.mainLoginAdmin a,
.mainCadastrarUsuario a {
    width: 100px;
}

.mainLogin p,
.mainLoginAdmin p,
.mainCadastrarUsuario p {
    text-align: center;
}

/* PÁGINA INÍCIO */

.mainHome button,
.mainPainelAdmin button {
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 3px 3px #eeeeee;
}

/***** ITENS DO USUÁRIO *****/

/* PÁGINA EDITAR USUÁRIO */

.mainEditarUsuario form,
.mainEditarUsuario a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    width: 60%;
}

.mainEditarUsuario input,
.mainEditarUsuario select {
    width: 60%;
    min-width: 250px;
}

.mainEditarUsuario textarea {
    resize: none;
    width: 60%;
    min-width: 250px;
    height: 150px;
}

.mainEditarUsuario button {
    width: 150px;
}

/* HISTÓRIA */

.mainPublicarHistoria form,
.mainEditarHistoria form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
}

.mainPublicarHistoria input,
.mainEditarHistoria input,
.mainPublicarHistoria select,
.mainEditarHistoria select {
    width: 60%;
    min-width: 250px;
}

.mainPublicarHistoria textarea,
.mainEditarHistoria textarea {
    resize: none;
    width: 60%;
    min-width: 250px;
    height: 150px;
}

.mainPublicarHistoria button,
.mainEditarHistoria button {
    width: 150px;
}

/* CAPÍTULO */

.mainPublicarCapitulo form,
.mainEditarCapitulo form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.mainPublicarCapitulo input,
.mainEditarCapitulo input,
.mainPublicarCapitulo select,
.mainEditarCapitulo select {
    min-width: 250px;
    width: 80%;
}

.mainPublicarCapitulo textarea,
.mainEditarCapitulo textarea {
    resize: none;
    width: 80%;
    min-width: 250px;
}

.textareaCapitulo {
    height: 500px;
}

.mainPublicarCapitulo button,
.mainEditarCapitulo button {
    width: 150px;
}

.mainCapitulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.textoCapitulo {
    text-align: justify;
}

/* PÁGINAS ADMIN DE CADASTRO DE CLASSIFICAÇÃO, GÊNERO E CATEGORIA */

.mainCadastrarClassificacao form,
.mainEditarClassificacao form,
.mainCadastrarGenero form,
.mainEditarGenero form,
.mainCadastrarCategoria form,
.mainEditarCategoria form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mainCadastrarClassificacao input,
.mainEditarClassificacao input,
.mainCadastrarGenero input,
.mainEditarGenero input,
.mainCadastrarCategoria input,
.mainEditarCategoria input {
    margin: 10px;
    min-width: 150px;
    width: 40%;
}

.mainCadastrarClassificacao button,
.mainEditarClassificacao button,
.mainCadastrarGenero button,
.mainEditarGenero button,
.mainCadastrarCategoria button,
.mainEditarCategoria button {
    width: 150px;
}

.mainIndexClassificacao,
.mainIndexGeneros,
.mainIndexCategorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* BOTÕES */

.btnVisualizar,
.btnLer,
.btnEditar,
.btnCapitulos,
.btnCancelar,
.btnEnviar,
.btnAdicionar, 
.btnUsuario,
.btnAdmin,
.btnCadastrar,
.btnSalvar,
.btnExcluir,
.btnEntrar,
.btnFechar,
.btnModalSenha,
.btnModalAvatar,
.btnAlterarSenha,
.btnAlterarAvatar {
    background: white;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {

    .mainPrincipal {
        max-width: 1140px;
    }

    .conteudoTopo {
        max-width: 1140px;
    }

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
 
}

@media (min-width: 1200px) {

}

/* MODAL ALTERAR SENHA DA PÁGINA DE EDITAR USUÁRIO */

.modalContainer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalContainer h1 {
    margin: 0px;
    color: #555555;
}

.modalContainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mostrarModalSenha,
.mostrarModalAvatar {
    display: flex;
}

.modalSenha,
.modalAvatar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    width: 50%;
    min-width: 30%;
    padding: 20px;
    position: relative;
}

@keyframes modalSenha {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modalAvatar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrarModalSenha .modalSenha,
.mostrarModalAvatar .modalAvatar {
    animation: modalSenha .3s;
}

.btnFecharModalSenha,
.btnFecharModalAvatar {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid white;
    cursor: pointer;
}

/*
.mainPrincipal, XXX
.mainErro404,
.mainLogin, XXX
.mainLoginAdmin, XXX
.mainIndex, XXX
.mainHome, XXX
.mainPainelAdmin, XXX
.mainCadastrarCategoria, XXX
.mainEditarCategoria, XXX
.mainIndexCategorias,
.mainCadastrarClassificacao, XXX
.mainEditarClassificacao, XXX
.mainIndexClassificacoes, 
.mainCadastrarGenero, XXX
.mainEditarGenero, XXX
.mainIndexGeneros,
.mainEditarCapitulo, XXX
.mainPublicarCapitulo, XXX
.mainListarCapitulos,
.mainIndexCapitulos,
.mainCapitulo,
.mainEditarHistoria, XXX
.mainPublicarHistoria, XXX
.mainListarHistorias,
.mainIndexHistorias,
.mainHistoria,
.mainCadastrarUsuario, XXX
.mainEditarUsuario, XXX
.mainIndexUsuarios,
.mainUsuario {  
}
*/

/*
.tituloErro404,
.tituloLogin,
.tituloLoginAdmin,
.tituloIndex,
.tituloHome,
.tituloPainelAdmin,
.tituloCadastrarCategoria,
.tituloEditarCategoria,
.tituloIndexCategorias,
.tituloCadastrarClassificacao,
.tituloEditarClassificacao,
.tituloIndexClassificacoes,
.tituloCadastrarGenero,
.tituloEditarGenero,
.tituloIndexGeneros,
.tituloEditarCapitulo,
.tituloPublicarCapitulo,
.tituloListarCapitulos, 
.tituloIndexCapitulos,
.tituloCapitulo,
.tituloEditarHistoria,
.tituloPublicarHistoria,
.tituloListarHistorias, 
.tituloIndexHistorias,
.tituloHistoria,
.tituloCadastrarUsuario,
.tituloEditarUsuario,
.tituloIndexUsuarios,
.tituloUsuario
.tituloAlterarSenha {  
}
*/